.text {
  flex: 1;
  padding: 20px;
  color: white;
}

.about-me p {
  font-size: 18px;
}

.about-me h1 {
  font-size: 35px;
}

.about-me img {
  padding-top: 20px;
  height: 25em;
  border-radius: 25px;
}

.container {
  display: flex;
  height: 100%; /* Adjust this as needed */
}

.about-me {
  flex: 60%;
  background-color: #1B263B;
  padding: 20px;
  margin-left: 1em;
  margin-top: 5em;
  border-radius: 50px;
  height: 500px;
  display: flex; /* Added to make text and image flex */
  align-items: center; /* Vertically center items */
}

.about-me .text {
  flex: 1;
}

.technologies {
  color: white;
  background-color: #1B263B;
  border-radius: 50px;
  padding: 40px;
  flex: 40%;
  padding: 20px;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 5em;
}
