.about-me {
    background-color: #1B263B;
    fill-opacity: 10%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 1rem auto 0 auto;
  }
  
  .text {
    flex: 1;
    padding: 20px;
    color: white;
  }
  .about-me p{
    font-size: 20px;
  }
  .about-me h1{
    font-size: 50px;
  }
  .about-me img{
    height:35em;
    border-radius: 25px;
  }