.flying-images {
 
  position: relative;
  width: 200px; /* Adjust the container width as needed */
  height: 200px; /* Adjust the container height as needed */
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-100px);
}

.flying-images.visible {
  opacity: 1;
  transform: translateY(0);
}

.flying-images img {
  position: absolute;
  top: 10%;
  left: 45.5%;
  width: 100px; /* Adjust the logo width as needed */
  height: 100px; /* Adjust the logo height as needed */
  object-fit: cover; /* Maintain image aspect ratio */
  z-index: -1; /* Place the logo behind the text */
  transition: transform 0.5s;
}
  .top-image {
    
    animation: flyFromTop 1.5s ease-in-out;
  }
  
  .left-image {
    animation: flyFromLeft 1.5s ease-in-out;
  }
  
  .right-image {
    animation: flyFromRight s ease-in-out;
  }
  
  @keyframes flyFromTop {
    0% {

      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes flyFromLeft {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes flyFromRight {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  