.card-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
  
   max-width: 345px;
  }
  .prevent-select {
    -ms-user-select: none; 
    user-select: none; 
  }
  .icon{
    width: 30px;
  }